<% content_for :head do %>
    <h6><%= link_to 'Home', :home_index %> → Portafolio</h6>
<% end %>
<% content_for :menu do %>
    <li><%= link_to 'Home', :home_index %></li>
    <li><%= link_to 'About', :about_index %></li>
    <li><%= link_to 'Portafolio →', :portafolio_index, class: 'selected' %></li>
    <li><%= link_to 'Blog', :blog_index %></li>
    <li><%= link_to 'Contact', :contact_index %></li>
    <li><%= link_to 'Features', :feature_index, class: 'selected' %></li>
<% end %>
<h1>Portafolio#index</h1>
<p>Find me in app/views/portafolio/index.html.erb</p>
