<% content_for :head do %>
    <h6><%= link_to 'Home', :root %> → Portafolio</h6>
<% end %>
<% content_for :menu do %>
    <li><%= link_to 'Home', :root %></li>
    <li><%= link_to 'About', :about_index %></li>
    <li><%= link_to 'Portafolio →', :portafolio_index, class: 'selected' %></li>
    <li><%= link_to 'Blog', :blog_index %></li>
    <li><%= link_to 'Contact', :contact_index %></li>
    <li><%= link_to 'Features', :feature_index %></li>
<% end %>
<h2>Portafolio</h2>
<p>Find my projects here</p>

<div class="spacer"></div>
<div id="filter"></div>
<div class="star-divider"></div>
<div id="container">
  <ul id="stage">
    <%- @projects.each do |project| %>
        <li data-tags="{{ project.title }}">
          <a href="project-sample.html">
            <img src="images/portfolio/thumbs/image(1).jpg" alt="Illustration" />
          </a>
          <h6>Helvetica</h6>
          <p>Kinda sweet huh?<a class="readmore" href="project-sample.html">view →</a></p>
        </li>
    <%- end %>
    <!--
    <li data-tags="Django"><a href="project-sample.html"><img src="images/portfolio/thumbs/image(1).jpg" alt="Illustration" /></a>
      <h6>Helvetica</h6>
      <p>Kinda sweet huh?<a class="readmore" href="project-sample.html">view →</a></p>
    </li>
    <li data-tags="Ruby on Rails"><a href="project-sample.html"><img src="images/portfolio/thumbs/image(2).jpg" alt="Illustration" /></a>
      <h6>Typography</h6>
      <p>Lorem ipsum here.<a class="readmore" href="project-sample.html">view →</a></p>
    </li>
    <li data-tags="Symfony"><a href="project-sample.html"><img src="images/portfolio/thumbs/image(2).jpg" alt="Illustration" /></a>
      <h6>Typography</h6>
      <p>Lorem ipsum here.<a class="readmore" href="project-sample.html">view →</a></p>
    </li>
    <li data-tags="Code Igniter"><a href="project-sample.html"><img src="images/portfolio/thumbs/image(3).jpg" alt="Illustration" /></a>
      <h6>Ideas</h6>
      <p>A light bulb!<a class="readmore" href="project-sample.html">view →</a></p>
    </li>
    <li data-tags="Magento"><a href="project-sample.html"><img src="images/portfolio/thumbs/image(4).jpg" alt="Illustration" /></a>
      <h6>Rockable press</h6>
      <p>Best books around.<a class="readmore" href="project-sample.html">view →</a></p>
    </li>
    <li data-tags="Symfony">
      <a href="project-sample.html">
        <img src="images/portfolio/thumbs/image(8).jpg" alt="Illustration" />
      </a>
      <h6>Just say it!</h6>
      <p>Printed.<a class="readmore" href="project-sample.html">view →</a></p>
    </li>
    -->
  </ul>
</div>
