<div class="recent-summary">
  <% num = 1 %>
  <%- @projects.each_with_index do |project, index| %>
      <div class="<%= if index == num then 'recent-item-last' else 'recent-item' end %>">
        <% if project.images.any? %>
            <%= link_to image_tag(project.images.first.asset.url, width: "250", height: "150"), portfolio_path(project) %>
        <% end %>
        <h6><%= format_full_date project.created_at %></h6>
        <p><%= project.title %>
          <%= link_to "view →", portfolio_path(project), class: "readmore" %>
        </p>
      </div>
  <%- end %>
</div>