<% content_for :head do %>
    <h6><%= link_to 'Home', :root %></h6>
<% end %>
<% content_for :menu do %>
    <li><%= link_to 'Home →', :root, class: 'selected' %></li>
    <li><%= link_to 'About', :about_index %></li>
    <li><%= link_to 'Portfolio', :portfolio_index %></li>
    <li><%= link_to 'Blog', :blog_index %></li>
    <li><%= link_to 'Contact', :contact_index %></li>
<% end %>

<!--This is the START of the NIVO slider-->
<div class="slider-wrapper theme-effe" data-no-turbolink>
  <div id="slider" class="nivoSlider">
    <%= image_tag "slider/slide1", title: "#img1" %>
    <%= image_tag "slider/slide2", title: "#img2" %>
    <%= image_tag "slider/slide3", title: "#img3" %>
    <%= image_tag "slider/slide4", title: "#img4" %>
  </div>
</div>
<!--END of NIVO Slider-->
<!--This is the START of the recent posts-->
<div class="spacer"></div>
<div id="recent-text">
  <h2>These are some of my latest posts and projects...</h2>
  <div class="star-divider"></div>
  <h5>You can check them out in my sections!</h5>
  <div class="spacer"></div>
</div>
<div id="recent-posts-container">
  <div class="section-description">
    <h5>Recent posts</h5>
    <p>Here you can find some of my most recent and fresh content...</p>
  </div>
  <div class="recent-summary">

    <%= render partial: "posts", locals: {posts: @posts} %>

  </div>
  <!--END of recent posts-->
  <!--This is the START of the recent projects-->
  <div id="recent-projects-container">
    <div class="section-description">
      <h5>Recent projects</h5>
      <p>These are some of my latest projects...</p>
    </div>

    <%= render partial: "projects", locals: {projects: @projects} %>

    <!--END of recent projects-->
    <div class="spacer"></div>
    <!--END of content-->
  </div>
</div>