<% content_for :head do %>
    <h6><%= link_to 'Home', :root %></h6>
<% end %>
<% content_for :menu do %>
    <li><%= link_to 'Home →', :root, class: 'selected' %></li>
    <li><%= link_to 'About', :about_index %></li>
    <li><%= link_to 'Portfolio', :portfolio_index %></li>
    <li><%= link_to 'Blog', :blog_index %></li>
    <li><%= link_to 'Contact', :contact_index %></li>
    <li><%= link_to 'Features', :feature_index %></li>
<% end %>

<!--This is the START of the NIVO slider-->
<div class="slider-wrapper theme-effe">
  <div id="slider" class="nivoSlider"> <img src="images/slider/slide1.jpg" alt="" title="#img1" /> <img src="images/slider/slide2.jpg" alt="" title="#img2" /> <img src="images/slider/slide3.jpg" alt="" title="#img3" /> <img src="images/slider/slide4.jpg" alt="" title="#img4" /> </div>
</div>
<!--END of NIVO Slider-->
<!--This is the START of the recent posts-->
<div class="spacer"></div>
<div id="recent-text">
  <h2>These are some of our latest posts...</h2>
  <div class="star-divider"></div>
  <h5>You can check them out in our blog section!</h5>
  <div class="spacer"></div>
</div>
<div id="recent-posts-container">
  <div class="section-description">
    <h5>Recent posts</h5>
    <p>Here you can find some of our most recent and fresh content...</p>
  </div>
  <div class="recent-summary">

    <%= render partial: "posts", locals: {posts: @posts} %>

  </div>
  <!--END of recent posts-->
  <!--This is the START of the recent projects-->
  <div id="recent-projects-container">
    <div class="section-description">
      <h5>Recent projects</h5>
      <p>These are some of our latest projects, some nice stuff in here...</p>
    </div>

    <%= render partial: "projects", locals: {projects: @projects} %>

    <!--END of recent projects-->
    <div class="spacer"></div>
    <!--END of content-->
  </div>
</div>