<%= render 'portfolio/menu' %>

<h2>Portfolio</h2>
<p>Find my projects here</p>

<div class="spacer"></div>
<div id="filter"></div>
<div class="star-divider"></div>
<div id="container">
  <ul id="stage">
    <%- @projects.each do |project| %>
        <li data-tags="<%= project.category.title %>">
          <% if project.images.any? %>
              <%= link_to image_tag(project.images.first.asset.url, width: "200", height: "100"), portfolio_path(project) %>
          <% end %>
          <h6><%= project.category.title %></h6>
          <p><%= project.title %>
            <%= link_to "view →", portfolio_path(project), class: "readmore" %>
          </p>
        </li>
    <%- end %>
  </ul>
</div>
