<%= render 'portfolio/menu' %>

<!--This is the START of the NIVO slider-->
<div class="slider-wrapper theme-effe">
  <div id="slider" class="nivoSlider">
    <%- @project.images.each_with_index do |photo, i| %>
        <%= image_tag photo.asset.url, title: "#img" + i.to_s %>
    <%- end %>
  </div>
  <div id="slider-shadow"></div>
</div>
<!--END of NIVO Slider-->
<!--This is the START of the project-->
<div class="project">
  <div id="description">
    <h3><%= @project.title %></h3>
    <p>
      <%= @project.text %>
    </p>
  </div>
  <ul id="work">
    <% @project.key_feature.split(/;/).each do |feature| %>
        <li><%= feature %></li>
    <% end %>
  </ul>
</div>
<!--END of project-->
<!--This is the START of the gallery-->
<div class="spacer"></div>

    <%= render partial: "projects", locals: {projects: @projects, num: 3} %>

<!--END of gallery-->
<div class="spacer"></div>