<% content_for :head do %>
    <h6><%= link_to 'Home', :root %> → <%= link_to 'Blog', :blog_index %> → <%= @post.id %></h6>
<% end %>

<%= render 'blog/menu' %>

<!--This is the START of the blog section-->
<div id="blog">
  <div class="blog-item-single">
    <h3><%= @post.title %></h3>
    <div class="blog-item-single-info">
      <div class="user">gmunumel</div>
      <div class="comments"><%= @post.comments %> comments</div>
      <div class="tags"><%= @post.tags %></div>
    </div>
    <div class="blog-item-single-content">
      <p><%= @post.text %></p>
      <%- @post.images.each do |photo| %>
          <%= link_to image_tag(photo.asset.url, width: "250", height: "150"), url_for(photo.asset.url), class: "single_image" %>
      <%- end %>
    </div>
    <div class="social-blog-buttons"> <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="92_Five">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=108550772584353&amp;href=http%3A%2F%2Fwww.92five.net&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;"></iframe>
    </div>
  </div>
</div>
<!--END of blog section-->