<% content_for :head do %>
    <h6><%= link_to 'Home', :root %> → About</h6>
<% end %>
<% content_for :menu do %>
    <li><%= link_to 'Home', :root %></li>
    <li><%= link_to 'About →', :about_index, class: 'selected' %></li>
    <li><%= link_to 'Portfolio', :portfolio_index %></li>
    <li><%= link_to 'Blog', :blog_index %></li>
    <li><%= link_to 'Contact', :contact_index %></li>
<% end %>

<div class="spacer"></div>
<div class="team-text">
  <h2>This is a bit about me...</h2>
  <div class="star-divider"></div>
  <h4>You can check me out via my social links!</h4>
</div>
<div class="spacer"></div>
<div class="about">
  <h4>A little bit about me.</h4>
  <p>My name is Gabriel Muñumel. I'm an enthusiastic and proactive web and app
    developer. I'm specialized in web frameworks such as:
    <%= link_to 'Ruby on Rails', url_for('http://rubyonrails.org/') %>,
    <%= link_to 'Django', url_for('https://www.djangoproject.com/') %>,
    <%= link_to 'Symfony', url_for('http://symfony.com/') %> and
    <%= link_to 'CodeIgniter', url_for('http://www.codeigniter.com/') %>.
    I've developed systems from a simple static web page to a complex e-commerce.
    In <%= link_to 'Android', url_for('https://www.android.com/') %> ecosystem,
    I've develop applications to streaming radio music and share likes.</p>
  <div class="spacer"></div>
  <h4>I make software of quality!</h4>
  <p>I've develop many websites over the years: from a simple static website to
    a complex e-commerce. I like to work with web frameworks because they give you
    a solid ground to build your system based on using the best practices, patterns
    and they're supported by a big community of developers. </p>
  <p>My systems are characterized by being simple to use, easy to navigate, robust
    and scalable. I also pay a lot attention in the testing aspect to build quality
    software. </p>
  <div class="spacer"></div>
  <h4>And I offer packages for you!</h4>
  <p>I can offer three packages to develop your system. They go from a simple
    package: static website, passing through a system working with a database and
    managing large amount of information to an e-commerce (similar to Amazon or eBay).
    These packages are flexible and they can adapt to the client's needs.</p>
  <div id="pricing-table" class="clear">
    <div class="plan">
      <h3>Standard<span>&pound;59</span></h3>
      <%= link_to "Contact", :contact_index, class: "signup" %>
      <ul>
        <li><b>Personalized</b> Design</li>
        <li><b>Multiple</b> Social Networks</li>
        <li><b>Support</b> CMS</li>
        <li><b>Support</b> Blog</li>
      </ul>
    </div>
    <div class="plan" id="most-popular">
      <h3>Professional<span>&pound;120</span></h3>
      <%= link_to "Contact", :contact_index, class: "signup" %>
      <ul>
        <li><b>Own</b> Domain</li>
        <li><b>Support</b> Database</li>
        <li><b>Limited</b> Email Accounts</li>
        <li><b>Multiple</b> Social Networks</li>
        <li><b>Support</b> CMS</li>
        <li><b>Support</b> Blog</li>
      </ul>
    </div>
    <div class="plan">
      <h3>Enterprise<span>&pound;199</span></h3>
      <%= link_to "Contact", :contact_index, class: "signup" %>
      <ul>
        <li><b>Own</b> Domain</li>
        <li><b>Multiple</b> Email Accounts</li>
        <li><b>Support</b> Database</li>
        <li><b>Multiple</b> Social Networks</li>
        <li><b>Support</b> CMS</li>
        <li><b>Support</b> Blog</li>
        <li><b>Support</b> E-Commerce</li>
      </ul>
    </div>
  </div>
</div>
